---
title: "About Me"
layout: archive
excerpt: "Introduction to Karthik"
sitemap: false
permalink: /about/
author_profile: true
---

{% include base_path %}

<div id="about" style="font-size: 14px; padding: 0px; margin: 0px">

    <div style="font-size: 14px; padding-left: 30px; line-height: 1.5">
        I am now a data scientist at Apple. I build analytical tools that help understand, explore, and explain the usage of  Siri. Before this, I completed my PhD in Computer Science at the University of Maryland in College Park, MD, USA. I am interested in <span style='background-color:#f0e8ff'>data visualization</span>, visual analytics, and HCI in general. I also received my Master of Science in electrical and computer engineering in 2014 from Purdue University in West Lafayette, IN, USA. I enjoy playing tennis, rock climbing, and sketching in my spare time.
    </div>

    <div style="font-size: 14px; padding-left: 30px; line-height: 1.5">
        <br/>
        Few years ago, I received my Bachelors degree in computer science in 2012 from Indian Institute of Technology in Hyderabad, India. At that time, I developed Android mobile applications to support rescue and recovery operations in post-disaster situations through a novel multi-hop, peer-to-peer synchronization protocol. This was part of DISANET---Information Network for Natural Disaster Mitigation and Recovery---a joint research project between India and Japan on the use of information and communications technology to mitigate the after-effects of natural disasters.
    </div>

    <div style="font-size: 14px; padding-left: 30px; ">
        <br/>
        <span style="font-size: 16px;"><a target="_blank" class='textlink' href = "/assets/data/Badam_CV.pdf"><u>[Curriculum Vitae]</u></a></span>
    </div>

</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111496562-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111496562-1');
</script>

{% include paginator.html %}