---
title: "Research Projects"
layout: archive
excerpt: "Introduction to Karthik's research projects"
sitemap: false
permalink: /projects/
author_profile: true
---

{% include base_path %}

<script src="{{ base_path }}/assets/js/projects.js"></script>

<div class="archive" id="projectsList"></div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111496562-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111496562-1');
</script>

{% include paginator.html %}