---
title: "Projects"
layout: archive
excerpt: "Introduction to Karthik's research projects"
sitemap: false
permalink: /projects/
author_profile: true
---

<div class="grid__wrapper">
  {% for post in site.portfolio %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>

<div class="archive" id="projectList">



</div>

<script>
    
    $(document).ready(function () {
        //window.alert("blah");

        //for each project add a teaser thumbnail and an abstract


        //show links to the papers, video, pdfs on click




    });


</script>