---
title: "Teaching"
layout: archive
excerpt: "Introduction to Karthik's teaching"
sitemap: false
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<div class="archive" id="teachingList" style="padding: 0px; margin: 0px; float: left">

    <h3>INST762 - Visual Analytics - Spring 2018</h3>

    <div style="font-size: 14px; padding-left: 30px; line-height: 1.5">

        I am currently teaching Visual Analytics in iSchool, UMD.
        This is being taken 22 graduate students.
    </div>


    <div style="font-size: 14px; padding-left: 30px; ">
        <br/>
        <span style="font-size: 16px;"><a target="_blank" class='textlink'
                                          href="https://docs.google.com/document/d/1ry9cfdOg4jOEHjyM92xTfx9Cb6pHSiY02VpftzTNI9A"><u>[Syllabus]</u></a></span>
    </div>

    <br/>

    <h3>INST760 - Data Visualization - Fall 2017</h3>
    <div style="font-size: 14px; padding-left: 30px; line-height: 1.5">
        I taught advanced topics course on Data Visualization in iSchool, UMD.
        This project-oriented course covered topics in data visualization including perception and cognition, data representations and transformations, visual representations for specific data types, and interaction techniques for visual analysis.
        Projects done in this course have turned into research publications and Medium articles.
        <br/>
        <br/>
        This course was taken by 31 graduate students.

    </div>
     <div style="font-size: 14px; padding-left: 30px; ">
            <br/>
            <span style="font-size: 16px;"><a target="_blank" class='textlink'
                                              href="https://docs.google.com/document/d/1vXPid9_me1u2L66bDofQJIpv8L_wrwKZTiS-yjWVRnA/edit"><u>[Syllabus]</u></a></span>
        </div>


    <h3>INST728Q - Visual Analytics - Spring 2017</h3>

    <div style="font-size: 14px; padding-left: 30px; line-height: 1.5">

        I taught a special topics course on Visual Analytics in iSchool, UMD in Spring 2017.
        Visual analytics is the use of interactive visual interfaces to facilitate analytical reasoning.
        In essence, visual analytics is based on the idea that humans and computers working alone are insufficient for
        the data challenges of today and tomorrow, and that effective synthesis of both humans and computational
        algorithms are needed to create human-in-the-loop systems.
        Thus, visual analytics bridges human-centered disciplines such as visualization and human-computer interaction
        with computation-centered disciplines such as machine learning, probabilistic methods, and knowledge discovery.
    </div>

    <div style="font-size: 14px; padding-left: 30px; line-height: 1.5">
        <br/>
        This course covers topics related to:
        <ul>
            <li> Human aspects such as perception, cognition, sensemaking, critical thinking, and the analytical
                process.
            </li>
            <li> Computational aspects such as data management, data transformations, knowledge representation,
                probabilistic methods, and text analytics, etc.
            </li>
            <li> Integration of knowledge from fields such as visualization, human-computer interaction, machine
                learning, knowledge discovery, and text analytics towards helping people understand data.
            </li>
        </ul>
        The course was taken by 24 graduate students.
        <!--and happens on Thursdays at 2:00pm to 4:45pm in HBK 0109.-->


    </div>

    <div style="font-size: 14px; padding-left: 30px; ">
        <br/>
        <span style="font-size: 16px;"><a target="_blank" class='textlink'
                                          href="https://docs.google.com/document/d/1UNq1-9siim9YQ_3du0WxKWkfo-Mq20ogDA_YsbVLLw0"><u>[Syllabus]</u></a></span>
    </div>

    <br/>

</div>

{% include paginator.html %}