---
title: "Teaching"
layout: archive
excerpt: "Introduction to Karthik's teaching"
sitemap: false
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<div class="archive" id="teachingList" style="padding: 0px; margin: 0px; float: left">

    <h3>INST728Q - Visual Analytics - Spring 2017</h3>

    <div style="font-size: 14px; padding-left: 30px; line-height: 1.5">

        I am currently teaching a special topics (experimental) course on Visual Analytics in iSchool, UMD.
        Visual analytics is the use of interactive visual interfaces to facilitate analytical reasoning.
        In essence, visual analytics is based on the–not uncontroversial–idea that humans and computers working alone are insufficient for the data challenges of today and tomorrow, and that effective synthesis of both humans and computational algorithms are needed to create human-in-the-loop systems.
        Thus, visual analytics bridges human-centered disciplines such as visualization and human-computer interaction with computation-centered disciplines such as machine learning, probabilistic methods, and knowledge discovery.
    </div>

    <div style="font-size: 14px; padding-left: 30px; line-height: 1.5">
        <br/>
        The goal of this course is to teach:

        <li> Human aspects such as perception, cognition, sensemaking, critical thinking, and the analytical process.</li>
        <li> Computational aspects such as data management, data transformations, knowledge representation, probabilistic methods, and text analytics, etc.</li>
        <li> Integration of knowledge from fields such as visualization, human-computer interaction, machine learning, knowledge discovery, and text analytics towards helping people understand data.</li>

        <br/>
        The course is being taken by 24 graduate students and happens on Thursdays at 2:00pm to 4:45pm in HBK 0109.

    </div>

    <div style="font-size: 14px; padding-left: 30px; ">
        <br/>
        <span style="font-size: 16px;"><a target="_blank" class='textlink'
                                          href="https://docs.google.com/document/d/1UNq1-9siim9YQ_3du0WxKWkfo-Mq20ogDA_YsbVLLw0"><u>[Syllabus]</u></a></span>
    </div>


</div>

{% include paginator.html %}