---
title: "Teaching"
layout: archive
excerpt: "Introduction to Karthik's teaching"
sitemap: false
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<div class="archive" id="teachingList" style="padding: 0px; margin: 0px; float: left">

    <div style="font-size: 14px; padding-left: 0px; line-height: 1.5">
        During my PhD at the University of Maryland, I taught the Visual Analytics (in Spring) and Data Visualization (in Fall semesters) courses at the College of Information Studies in University of Maryland, College Park. 
        I was the sole instructor for these courses between 2017 and 2019. Apart from lectures, I created the course content, handled grading, and advised students in their course projects. 
        Overall, I have two years of teaching experience with these courses.
    </div>
    
    <h3>Data Visualization (INST 760 - Fall semesters)</h3>
    <div style="font-size: 14px; padding-left: 30px; line-height: 1.5">
    This is an advanced topics course on Data Visualization in iSchool, UMD.
    This project-oriented course covers topics in data visualization including perception and cognition, data representations and transformations, visual representations for specific data types, and interaction techniques for visual analysis.
    Projects done in this course have turned into research publications and Medium articles.
    <br/>
    <br/>
    This course was taken by 26 graduate students in Fall 2018. Previously, I taught this course in Fall 2017 (31 students).

    </div>
    <div style="font-size: 14px; padding-left: 30px; ">
            <br/>
            <span style="font-size: 16px;"><a target="_blank" class='textlink'
                                            href="https://docs.google.com/document/d/14DKEHsVVjqJ47u1icjqod2e2u39ODx_uaDZXzjS57eg"><u>[Syllabus]</u></a></span>
    </div>

    
    <h3>Visual Analytics (INST 762 - Spring semesters)</h3>
    <div style="font-size: 14px; padding-left: 30px; line-height: 1.5">
        Visual analytics is the use of interactive visual interfaces to facilitate analytical reasoning.
        In essence, visual analytics is based on the idea that humans and computers working alone are insufficient for
        the data challenges of today and tomorrow, and that effective synthesis of both humans and computational
        algorithms are needed to create human-in-the-loop systems.
        Thus, visual analytics bridges human-centered disciplines such as visualization and human-computer interaction
        with computation-centered disciplines such as machine learning, probabilistic methods, and knowledge discovery.
    </div>

    <div style="font-size: 14px; padding-left: 30px; line-height: 1.5">
        <br/>
        This course covers topics related to:
        <ul>
            <li> Human aspects such as perception, cognition, sensemaking, critical thinking, and the analytical
                process.
            </li>
            <li> Computational aspects such as data management, data transformations, knowledge representation,
                probabilistic methods, and text analytics, etc.
            </li>
            <li> Integration of knowledge from fields such as visualization, human-computer interaction, machine
                learning, knowledge discovery, and text analytics towards helping people understand data.
            </li>
        </ul>
        The course was taken by 22 graduate students in Spring 2018 and 24 graduate students in Spring 2017. I plan to teach this course again in Spring 2019.
        <!--and happens on Thursdays at 2:00pm to 4:45pm in HBK 0109.-->


    </div>

    <div style="font-size: 14px; padding-left: 30px; ">
        <br/>
        <span style="font-size: 16px;"><a target="_blank" class='textlink'
                                          href="https://docs.google.com/document/d/1ry9cfdOg4jOEHjyM92xTfx9Cb6pHSiY02VpftzTNI9A"><u>[Syllabus]</u></a></span>
    </div>

    <br/>
    <div style="font-size: 14px; padding-left: 0px;  line-height: 1.5">
    The course content and lecture slides for these courses are inspired by and derived from the courses taught by Dr. Niklas Elmqvist at UMD, Dr. Jeff Heer at UW, Dr. John Stasko at Georgia Tech, and Dr. Alexander Lex at University of Utah.  
    </div>

    <br/>
    <br/>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111496562-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111496562-1');
</script>

{% include paginator.html %}