---
layout: archive
author_profile: true
---

{% include base_path %}

<script src="{{ base_path }}/assets/js/overview.js"></script>

<!-- <div class="archive" id="jobAnnouncement"> Hi! I am now a data scientist at Apple (located in Cupertino). I will be building analytical products that will improve the use of Siri. </div> -->

<div class="archive" id="postsList"></div>

<div class="archive" id="newsList"></div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111496562-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-111496562-1');
</script>

{% include paginator.html %}